<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout (~{::body})}">

<body>
<h1>Modifier une espèce</h1>
<form class="row" th:object="${species}" th:action="@{/species}" method="post">
  <div th:if="${#fields.hasAnyErrors()}">Il y a des erreurs dans le formulaire.</div>

  <!-- Il nous faut passer l'id -->
  <input type="hidden" th:field="*{id}" />

  <div>
    <label for="commonName" class="form-label">Nom Commun :</label>
    <input class="form-label" type="text" th:field="*{commonName}" id="commonName" th:errorclass="border-danger"/>
    <span th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}"></span>
  </div>

  <div>
    <label for="latinName" class="form-label">Nom latin :</label>
    <input class="form-label" type="text" th:field="*{latinName}" id="latinName" th:errorclass="border-danger"/>
    <span th:if="${#fields.hasErrors('latinName')}" th:errors="*{latinName}"></span>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Sauver</button>
    <button class="btn btn-secondary" type="button" onclick="window.location='/species'">Retour</button>
  </div>
</form>
</body>
</html>
